<!DOCTYPE html>
<html>
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
	<title>Header Bar Example</title>
	<link rel="stylesheet" type="text/css" href="../STATIC/home.css">
</head>
<body>
	<div class="header">
		<div class="nav">
			<div class="leftheader">
				<div class="search">
					<form>
						<input type="text" placeholder="Type what you want to buy...">
						<button type="submit">Search</button>
							
					</form>
				</div>
			</div>	
			<div class="rightheader">
				<div class="acc">	
					<a class="login" href="#">Login</a>
					<a class="register" href="#">Register</a>
					<a class="sell" href="#">SELL</a>
					
				</div>
			</div>
		</div>
	</div>
	<div class="intro">
		<div class="left">
			<div class="heading">Welcome to</div>
			<div class="subheading">VLX</div>
		</div>
		<div class="right">
			<button class ="products" >VIEW ALL PRODUCTS --></button>
		</div>
	</div>
	<div class="des_page">
		<div class="con1">
			<h1 class="des_headings">What is VLX??</h1>
			<br>
			<p class="para_left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum excepturi fugit aperiam aliquid. Sequi ratione earum, placeat nam, deleniti necessitatibus maiores impedit quidem error eius laudantium qui omnis! In, iure!</p>
		</div>
		<br>
		<div class="line"></div>
		
		<div class="con2">
			<h1 class="des_headings_right">Featuers of VLX</h1>
			<br>
			<p class="para_right">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum excepturi fugit aperiam aliquid. Sequi ratione earum, placeat nam, deleniti necessitatibus maiores impedit quidem error eius laudantium qui omnis! In, iure!</p>
		</div>
		<br>
		<div class="line"></div>
		<div class="con3">
			<h1 class="des_headings">Is it Safe??</h1>
			<br>
			<p class="para_left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum excepturi fugit aperiam aliquid. Sequi ratione earum, placeat nam, deleniti necessitatibus maiores impedit quidem error eius laudantium qui omnis! In, iure!</p>
		</div>

		

	</div>
	<div class="about">

	</div>
</body>
</html>
