<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
	<link href="../static/description/description.css" rel="stylesheet">
    <link href="../static/footer.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<title>Header Bar Example</title>
	<link rel="stylesheet" type="text/css" href="../static/home.css">
</head>
<body>
	<div class="navigation_panel">
		<div class="navi">
			<div class="leftheader">
				<div class="search">
					<form>
						<input type="text" placeholder="Type what you want to buy...">
						<button type="submit">Search</button>
							
					</form>
				</div>
			</div>	
			<div class="rightheader">
				<div class="acc">	
					<a class="login" href="#">Login</a>
					<a class="register" href="#">Register</a>
					<a class="sell" href="#">SELL</a>
					
				</div>
			</div>
		</div>
	</div>
	<div class="intro">
		<div class="left">
			<div class="heading">Welcome to</div>
			<div class="subheading">VLX</div>
		</div>
		<div class="right">
			<button class ="products" >VIEW ALL PRODUCTS --></button>
		</div>
	</div>
	<div class="des_page">
		<div class="con1">
			<h1 class="des_headings">What is VLX??</h1>
			<br>
			<p class="para_left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum excepturi fugit aperiam aliquid. Sequi ratione earum, placeat nam, deleniti necessitatibus maiores impedit quidem error eius laudantium qui omnis! In, iure!</p>
		</div>
		<br>
		<div class="line"></div>
		
		<div class="con2">
			<h1 class="des_headings_right">Featuers of VLX</h1>
			<br>
			<p class="para_right">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum excepturi fugit aperiam aliquid. Sequi ratione earum, placeat nam, deleniti necessitatibus maiores impedit quidem error eius laudantium qui omnis! In, iure!</p>
		</div>
		<br>
		<div class="line"></div>
		<div class="con3">
			<h1 class="des_headings">Is it Safe??</h1>
			<br>
			<p class="para_left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum excepturi fugit aperiam aliquid. Sequi ratione earum, placeat nam, deleniti necessitatibus maiores impedit quidem error eius laudantium qui omnis! In, iure!</p>
		</div>

		

	</div>
<footer id="footer" class="footer-1">
		<div class="main-footer widgets-dark typo-light">
		<div class="container">
		<div class="row">
		  
			<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="widget subscribe no-box">
			<h5 class="widget-title">VLX</h5>
			<div class="separation-line" style="margin-right: 25px; opacity: 0.7"></div>
			<br>
			<p>About the company, little discription will goes here.. </p>
			</div>
			</div>
	
	<div class="col-sm-6 col-md-4">
		<div class="widget no-box">
			<h5 class="widget-title">Creators</h5>
			<div class="separation-line" style="margin-right: 25px; opacity: 0.7;"></div>
			<br>
			<ul class="thumbnail-widget">
				<li>
					<div class="thumb-content"><a href="#.">name1</a></div>	
				</li>
				<li>
					<div class="thumb-content"><a href="#.">Name 2</a></div>	
				</li>
				<li>
			<div class="thumb-content"><a href="#.">name3</a></div>	
			</li>
			<li>
				<div class="thumb-content"><a href="#.">name4</a></div>	
			</li>
			<li>
				<div class="thumb-content"><a href="#.">name5</a></div>	
			</li>
			<li>
				<div class="thumb-content"><a href="#.">name6</a></div>	
			</li>
		</ul>
	</div>
</div>

<div class="col-sm-6 col-md-4">
	
	<div class="widget no-box">
		<h5 class="widget-title">Contact us</h5>
		<div class="separation-line" style="margin-right: 25px; opacity: 0.7"></div>
		<br>
				
				<ul class="thumbnail-widget">
					<li>
					<div class="thumb-content"><a href="#.">email1</a></div>	
					</li>
					<li>
					<div class="thumb-content"><a href="#.">email2</a></div>	
					</li>
					<li>
					<div class="thumb-content"><a href="#.">email3</a></div>	
					</li>
					<li>
					<div class="thumb-content"><a href="#.">email4</a></div>	
					</li>
					<li>
					<div class="thumb-content"><a href="#.">email5</a></div>	
					</li>
					<li>
					<div class="thumb-content"><a href="#.">email6</a></div>	
					</li>
				</ul>
			</div>
			</div>
		</div>
		</div>
		</div>
		
	<div class="footer-copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
					<p>Copyright © 2022. All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	
	</footer>    

	
</body>
</html>
