<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@40,700,0,-25" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <title>Sign up Form</title>
    <link rel="stylesheet" href ="../static/login.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
<body>
    <div class="left">
        <div class="ani-back">

        </div>
    </div>
    
    <div class="right">
        <div class="sign-up-form">
            <img src="../static/MEDIA/VLX-block.jpg">
            <h1> Login </h1>
            <form action="/login" method="post">
                <input type="text" name="username" class="input-box" placeholder="Username">
                <br>
                <br>
                <input type="password" name="password" class="input-box" placeholder="Password">
                <br>
                <br>
                <p><a href="#.html"><u>Forgot password</u></a></p>
                <button type="submit" class="signup-btn">Login</button>   
                <p>Don't have an account ? <a href="/register">Sign up</a></p>
            </form>
        </div>
        <div class="home-area">
            <div class="transition">
            <a href="/">
            <button class="home-button"><span class="material-symbols-sharp">
                arrow_back
                </span><span class="home_text">Go back to Home page</span></button></a>
            </div>
            
        </div>
        
    </div>
        
    
    
</body>
</html>