<!DOCTYPE html>
<html lang="en">
<head>
<title>Sign up Form</title>
<link rel="stylesheet" href ="../static/signinupstyle.css">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
    <div class="sign-up-form">
        <img src="../static/user-icon.png">
        <h1> Sign Up Now</h1>
        <form>
            <input type="email" class="input-box" placeholder="Username">
            <br>
            <input type="password" class="input-box" placeholder="Password">
            <br>
            <p><span> <input type="checkbox"></span> I agree to the terms and condition</p>
            <button type="button" class="signup-btn">Sign up</button>
            <!--
                <hr>
            <p class="or">OR</p>
            <button type="button" class="google-btn">Login with Google</button>
            <button type="button" class="twitter-btn">Login with twitter</button>
            <br><br>
            -->
            <p>Do you have an account ? <a href="signin.html">Sign in</a></p>
        </form>
    </div>
    
</body>
</html>